.title {
  background: linear-gradient(180deg, #121a4d 0%, #0D1433 100%);
}

.div{
    background-color: #292647;
}
.input{
    background: #a4a0ac31;
}
.input[type=submit]{
    background-color: rgb(137, 127, 224);
}

header {
    background: linear-gradient(180deg, #07104d 0%, #050d35 100%);
    border-bottom: 2px solid #0f427e;
    box-shadow: 0 0 12px 1px #0f427e66;
    font-size: 20px;
}